<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-info-circle"></i>
			<span class="p-l-1">添加一个告警</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>


	<div class="modal-content">
		<div class="text-center">
			<img src="public/img/alert_howto_new.png"></img>
		</div>
		<p class="p-a-2 text-center offset-lg-1 col-lg-10">
			告警是在任何仪表盘图形面板的<strong>警报选项</strong>中添加和配置的，允许您使用现有查询构建和可视化告警. 
			<br> <br>
			要保留警报规则更改，请先保存仪表盘.
			<br>
			<br>
		</p>
	</div>

</div>

